<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.samples.service.lifecycle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />

    <application>
        <service
            android:name=".MyService"
            android:process=":remote" />

        <provider
            android:name="my.samples.database.lifecycle.MyContentProvider"
            android:authorities="my.samples.database.lifecycle"
            android:exported="false"
            android:multiprocess="false" >
        </provider>

        <activity android:name=".ServiceStarter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="my.samples.database.lifecycle.ContantProviderActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="my.samples.activity.lifecycle.MySecondActivity" />
    </application>

</manifest>